body {
    background-color: black;
    font-family: Arial;
}

h1 {
    color: grey;
}

#round-body {
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding: 20px
}

#center-body {
    display: flex;
    justify-content: center;
    align-items: center;
}